<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <div class="container">
        <app-post-data></app-post-data>
 
      </div>
    </main>
   
  

    <aside class="col-lg-4">
      <app-widget-search></app-widget-search>
         <!-- Widget [Latest Posts Widget] -->
         <div class="widget latest-posts">
           <header>
             <h3 class="h6">Latest Posts</h3>
           </header>
           <app-last-post></app-last-post>
            
         </div>
             <!-- Widget [Categories Widget]-->
             <div class="widget categories">
               <header>
                 <h3 class="h6">Categories</h3>
               </header>
             <app-categories></app-categories>
              
             </div>
         <!-- Widget [Tags Cloud Widget]-->
         <div class="widget tags">       
           <header>
             <h3 class="h6">Tags</h3>
           </header>
           <ul class="list-inline">
             <app-tags ></app-tags>
           </ul>
         </div>
       </aside>



  </div>
</div>
